.portfolio{
    // background-color: skyblue;
    width: 100%;
    padding: 25px;
}

a {
    margin-top: 1rem;
    margin-right: .5rem;
    padding: 1rem;
    transition: .25s ease-in-out;
    text-decoration: none;
    color: whitesmoke;

        &:hover {
            text-decoration-line: underline;
            color: lightgrey;
        }
}

    .row {
        padding-top: 2rem;
    }
